body{
/*    margin-top:20px;*/
    background-color:white;
    padding-top: 119px;
/*    overflow-y: hidden;*/

}

/*
@media(max-width:1000px){
    body{
        overflow-y: visible;
    }
}
*/


/*--------------
      HEADER
--------------*/

.navbar-inverse {
    color:red;
    opacity: 0.9;
}


nav ul li{
    padding-top: 16px;
    font-size:16px;
    display: inline-block;
    padding-right: 10px;
}

header img{
    max-width: 150px;
    float: left;
    padding: 6px;
    margin-left:20px;
}
.navbar-nav>li>a {
    color: #bbb;
    font-size: 16px;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}


/*--------------
      SECTION
--------------*/


aside{
    text-align: center;
/*    border: 1px solid red;*/
    position:sticky;
}
aside img{

    width:80%;
    margin-top: 50px;
}


.align-studs{
    margin: 0 auto;
}

.student{
    background-color: #ddd;
    margin:10px auto;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
/*    border: 1px solid black;*/
    box-shadow: 5px 10px 5px 5px #888888;
    border-radius: 10px;

    
    
/*    width:auto;*/
}
.student img{
    width:40%;
}

@media (max-width:400px){
    aside img{
        width: 20%;
    }
}
@media (max-width:1000px){
    aside img{
        width: 50%;
    }
}









/*--------------
      FOOTER
--------------*/


footer{
    display:block;
    align-content: center;
    align-items: center;
/*    position:fixed;*/
/*    min-height: 100px;*/
    width:100%;
    margin-bottom:0px;
    margin-top:15px;
    background-color: #333;
    text-align: center;
    font-size: 30px;
/*    opacity: 0.7;*/
}

footer p{
/*    margin: 10px 0px;*/
    font-size: 13px;
    color: #f7f7f7;
    opacity: 0.2;
}
footer ul li{
    
    margin: 0 10px;
    display: inline;
    text-decoration: none;
    size:16px;
}
footer ul li:first-child{
    margin-left: 0px;
}
footer ul li:last-child{
    margin-right: 0px;
}

footer ul li>a{
    color: #7f7f7f;
}
footer ul li>a:hover{
    color: #fff;
}








































