body{
/*    margin-top:20px;*/
    background-color:#fff;
    padding-top: 119px;
    padding-bottom: 119px;
/*    overflow-y: hidden;*/

}

/*
@media(max-width:1000px){
    body{
        overflow-y: visible;
    }
}
*/





/*--------------
      HEADER
--------------*/




.navbar-inverse {
    color:red;
    opacity: 0.9;
}


nav ul li{
    padding-top: 16px;
    font-size:16px;
    display: inline-block;
    padding-right: 10px;
}

header img{
    max-width: 150px;
    float: left;
    padding: 6px;
    margin-left:20px;
}
.navbar-nav>li>a {
    color: #bbb;
    font-size: 16px;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}


/*--------------
      CONTENT
--------------*/


.course{
    margin-top:45px;
    background-color: #f7f7f7;
/*    border: 1px solid grey;*/
     box-shadow: 5px 10px 10px 5px #888888;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.course img{
    border-radius: 50%;
}

form{
    margin:45px
}
















/*--------------
      FOOTER
--------------*/





footer{
    display:block;
    align-content: center;
    align-items: center;
    position:fixed;
    bottom: 0px;
/*    min-height: 100px;*/
    width:100%;
    margin-bottom:0px;
    background-color: #333;
    text-align: center;
    font-size: 30px;
/*    opacity: 0.7;*/
}

footer p{
/*    margin: 10px 0px;*/
    font-size: 13px;
    color: #f7f7f7;
    opacity: 0.2;
}
footer ul li{
    
    margin: 0 10px;
    display: inline;
    text-decoration: none;
    size:16px;
}
footer ul li:first-child{
    margin-left: 0px;
}
footer ul li:last-child{
    margin-right: 0px;
}

footer ul li>a{
    color: #7f7f7f;
}
footer ul li>a:hover{
    color: #fff;
}



