body{
/*    margin-top:20px;*/
    background-color:#fff;
    padding-top: 119px;
    padding-bottom: 110px;
/*    overflow-y: true;*/

}

/*
@media(max-width:1000px){
    body{
        overflow-y: visible;
    }
}
*/





/*--------------
      HEADER
--------------*/




.navbar-inverse {
    color:red;
    opacity: 0.9;
}


nav ul li{
    padding-top: 16px;
    font-size:16px;
    display: inline-block;
    padding-right: 10px;
}

header img{
    max-width: 150px;
    float: left;
    padding: 6px;
    margin-left:20px;
}
.navbar-nav>li>a {
    color: #bbb;
    font-size: 16px;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}


/*--------------
      FOOTER
--------------*/

.profile-info{
    margin-top: 15px;
/*    border: 1px solid grey;*/
    border-radius: 20px;
    box-shadow: 5px 10px 10px 5px #888888;
    background-color: #ddd;
}

.descript p{
    margin:0px;
    padding: 20px;
    text-align: justify;
}
.profile-info img{
    padding-top: 15px;
    margin-left:20px;
    float: right;
     width: 30%;
    min-width: 150px;
}

.courses{
    margin-top:15px;
    background-color: #f7f7f7;
/*    border: 1px solid grey;*/
     box-shadow: 5px 10px 10px 5px #888888;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.info{
/*    margin-top: 25px;*/
    padding: 20px;
}






/*--------------
      FOOTER
--------------*/





footer{
    display:block;
    align-content: center;
    align-items: center;
    position:fixed;
    bottom: 0;
/*    min-height: 100px;*/
    width:100%;
    margin-bottom:0px;
    background-color: #333;
    text-align: center;
    font-size: 30px;
    
/*    opacity: 0.7;*/
}

footer p{
/*    margin: 10px 0px;*/
    font-size: 13px;
    color: #f7f7f7;
    opacity: 0.2;
}
footer ul li{
    
    margin: 0 10px;
    display: inline;
    text-decoration: none;
    size:16px;
}
footer ul li:first-child{
    margin-left: 0px;
}
footer ul li:last-child{
    margin-right: 0px;
}

footer ul li>a{
    color: #7f7f7f;
}
footer ul li>a:hover{
    color: #fff;
}














